@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Josefin+Sans:wght@400;500;600;700&family=Montserrat&family=Outfit:wght@400;700&display=swap');

html {
    scroll-behavior: smooth
}

:root {
    --orange: #f1a30b;
    --black: #2e2e2e;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    text-decoration: none !important;
    font-family: 'Josefin Sans';
    color: var(--white)
}

html,
body {
    overflow-x: hidden;
}

body {
    width: 100%;
    height: auto;
    background-color: var(--black);
    position: relative;
}


#btn-back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    display: none;
    color: white;
    background-color: rgb(190, 124, 2);
    font-size: 2rem;
    padding: 2rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    z-index: 9999999;
}

/* HEADER */
header {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 999999;
}

.logo {
    width: 20rem;
    height: 10rem;
}


.nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.nav_items {
    color: var(--black);
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    width: 10.7rem;
    text-align: center;
    padding: 1rem;
}


.nav_items:hover {
    color: var(--orange);
}

/* ---nav animations------ */
.header-nav:after,
.header-nav:before {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.header-nav::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: rgba(57, 55, 55, 0.4);
    border-right-color: rgba(57, 55, 55, 0.4);
}

.header-nav::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: rgba(57, 55, 55, 0.4);
    border-left-color: rgba(57, 55, 55, 0.4);
}

.header-nav:hover:after,
.header-nav:hover:before {
    width: 104%;
    height: 108%;
}

/* ------------ */
.flag {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    right: 6rem;
}

/* --------------dropdown----------- */
.dropbtn {
    background-color: transparent;
    font-weight: 700;
    line-height: 180%;
    color: var(--black);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: 0 !important;
}


.dropbtn::before {
    content: url('./assets/arrowDown.svg');
    position: absolute;
    left: 70%;
    bottom: 7px;
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    border-left: 4px solid transparent;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-left: 4px solid var(--orange);
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn::before {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}



/* -------------------- */


/* -----BURGER MENU------ */

menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 29.4rem;
    height: auto;
    padding: 2.4rem;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    z-index: 999;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#menuBtn {
    display: none;
    cursor: pointer;
}

.menu-lang {
    display: flex;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 2.4rem;
    left: 2.4rem;
    cursor: pointer;
    gap: 1rem;
}

.menu-close {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 2.4rem;
    right: 2.4rem;
    cursor: pointer;
}

.menu-close:hover {
    background-color: rgba(0, 0, 0, .05);
}

menu ul {
    margin-top: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

menu a {
    color: #151411;
    font-size: 1.6rem;
}

.active {
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
}

.menu-nav-items a {
    position: relative;
}

.menu-nav-items a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--orange);
    transition: 1s ease;
}

.menu-nav-items a:hover::before {
    width: 100%
}


/* MAIN */
/* ---------------------------- */
.video {
    width: auto;
    position: relative;
}

#myVideo {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
    clip-path: inset(0px);
}

.video-info {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.video-info h2 {
    margin-top: 5rem;
    color: var(--orange);
    font-size: 9rem;
    font-weight: 900;
}

.video-info p {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 2rem;
}

.video-info a {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.4rem;
    height: 5rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
    border: solid 3px white;
}

.video-info a:hover {
    animation: pulse2 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse2 {
    0% {
        box-shadow: 0 0 0 0 white;
        filter: hue-rotate(45deg);
    }
}

/* --------------------------------- */

main {
    padding: 1rem 4rem;
    background-color: var(--black);
    background-image: url(./assets/picture2.jpg);
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: contain;
    border-bottom: 1px solid white;
    height: 60rem;
}

.main-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    margin-top: 1px;
    padding-left: 20px;
}

.main-info h1 {
    color: var(--orange);
    font-size: 6rem;
    margin-top: 20rem;
}

.main-info p {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
}

.main-info button {
    width: 20rem;
    height: 4rem;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    margin-bottom: 12rem;
    cursor: pointer;
    font-size: 1.5rem;
    /* margin-left: 18rem; */
}

.light:hover {
    fill: var(--orange);
}

/* SECTION ONE */

.section-one {
    padding: 6rem 4rem;
}

.section-one h2 {
    font-size: 3rem;
}

.sec-one-info {
    max-width: 60rem;
    margin-top: 2rem;
    font-size: 1.8rem;
}

.sec-one-cards {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.sec-one-card-items {
    width: 30%;
    padding: 3rem 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    /* cursor: pointer; */
    position: relative;
}

.sec-one-icon,
.sec-one-card-title,
.sec-one-lists {
    position: relative;
    z-index: 99999;
}

.sec-one-card-items:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
}

.sec-one-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--orange);
}

.sec-one-card-title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.sec-one-card-items ul {
    margin-top: 1.5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sec-one-lists li {
    font-size: 1.7rem;
}

.sec-one-card-items:hover:before {
    display: none;
}

.sec-one-item1:hover,
.sec-one-item2:hover,
.sec-one-item3:hover {
    background-image: none;
    background-color: var(--orange);
}


.sec-one-item1:hover .sec-one-icon,
.sec-one-item2:hover .sec-one-icon,
.sec-one-item3:hover .sec-one-icon {
    background-color: var(--black);
}

.sec-one-item1:hover .sec-one-light,
.sec-one-item2:hover .sec-one-sets,
.sec-one-item3:hover .sec-one-user {
    fill: var(--orange);
}

.sec-one-item1:hover .sec-one-card-title,
.sec-one-item2:hover .sec-one-card-title,
.sec-one-item3:hover .sec-one-card-title,
.sec-one-item1:hover .sec-one-lists li,
.sec-one-item2:hover .sec-one-lists li,
.sec-one-item3:hover .sec-one-lists li {
    color: var(--black);
}

/* read more */

#more1,
#more2,
#more3 {
    display: none;
}

.readBtn {    
    margin-left: 50%;
    font-size: 1.5rem;
    color: black;
    padding: 1rem;
    transform: translateX(-50%);
}

/* SECTION TWO */
.section-two {
    background-color: var(--orange);
    padding: 6rem 25rem;
}

.sec-two-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec-two-content p {
    color: var(--white);
    font-size: 3rem;
    font-weight: 700;
    max-width: 45rem;
}

.sec-two-content div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.8rem;
}


/* SECTION THREE */

.section-three {
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    border-bottom: 1px solid white;
}

.sec-three-cards1,
.sec-three-cards2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 10rem;
}

.sec-three-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--orange);
}

.sec-three-card-items {
    min-width: 30%;
    height: 45rem;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, .3);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-three-card-items h3 {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.sec-three-card-items p {
    margin-top: 2rem;
    width: 20rem;
    font-size: 1.5rem;
}

/* SECTION FOUR */

.section-four {
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}

.sec-four-content1,
.sec-four-content2,
.videoteka {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.sec-four-content1 {
    margin-top: 4rem;
}

.sec-four-card-items {
    width: 28rem;
    height: 26rem;
}

.sec-four-card-items img {
    width: 100%;
    height: 100%;
}

.sec-four-card-items p {
    margin-top: 5rem;
    margin-left: 1rem;
    font-size: 2rem;
}

.sec-four-card-items span {
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
}

.videoteka {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoteka h2 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--orange);
}


.gallery-video {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.gallery-video video {
    max-width: 35rem;
    height: 26rem;
    border-radius: 2rem;
    object-fit: fill;
}

/* SECTION FIVE */


.section-five {
    padding: 6rem 40rem;
    border-bottom: 1px solid white;
    background-color: var(--orange);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.section-five p {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.section-five h3 {
    font-size: 2.6rem;
    margin-top: 2rem;
}


.accordion {
    margin-top: 3rem;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f1a30b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f1a30b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


.accordion-button {
    font-size: 2rem;
    color: var(--orange) !important;
    font-weight: 900;
    padding-left: 30%;
}

.accordion-body {
    padding: 4rem 10rem;
    font-size: 1.8rem;
    color: var(--black);
}

.section-five h2 {
    font-size: 4rem;
}

/* SECTION SIX */
/* საზღვრები არი მოსაახლოებელი*/


.sec-six-content1,
.sec-six-content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid #f1f1f1 5px;
}

.team {
    font-size: 5rem;
    margin-top: 2rem;
}

.sec-six-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* read more for team*/
#more4,
#more5,
#more6,
#more7,
#more8,
#more9,
#more10,
#more11,
#more12,
#more13,
#more14,
#more15,
#more16,
#more17,
#more18,
#more19, 
#more20,
#more21,
#more22 {
    display: none;

}

#dots4,
#dots5,
#dots6,
#dots7,
#dots8,
#dots9,
#dots10,
#dots11,
#dots12,
#dots13,
#dots14,
#dots15,
#dots16,
#dots17,
#dots18,
#dots19,
#dots20,
#dots21,
#dots22 {
    font-size: 2rem;
}

#myBtn4,
#myBtn5,
#myBtn6,
#myBtn7,
#myBtn8,
#myBtn9,
#myBtn10,
#myBtn11,
#myBtn12,
#myBtn13,
#myBtn14,
#myBtn15,
#myBtn16,
#myBtn17,
#myBtn18,
#myBtn19,
#myBtn20,
#myBtn21,
#myBtn22 {
    color: #f1a30b;
}

.anotation a {
    cursor: pointer;
    font-size: 1.3rem;

}

/*----------------------*/
.sec-six-avatar {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.sec-six-item p {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 1rem;
}

.sec-six-item span {
    font-size: 1.3rem;
    max-width: 14rem;
}


.sec-six-socials {
    top: 5rem;
    /* margin top */
    display: flex;
}

/* .swiper {
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
} */

/* SECTION SEVEN */

.section-seven {
    display: flex;
    padding: 6rem 15rem;
    background-color: var(--orange);
    gap: 8rem;
}

.sec-seven-content1 p {
    margin-top: 10rem;
    color: black;
    font-size: 3rem;
    font-weight: 700;
}

.sec-seven-content1 span {
    display: block;
    margin-top: 4rem;
    color: var(--black);
    font-size: 1.8rem;
}

.sec-seven-content1 a {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 6rem;
    background-color: black;
    color: white;
    font-size: 2rem;
}

.sec-seven-content2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sec-seven-quote-item {
    width: 100%;
    background-color: white;
    padding: 3rem 2rem;
}

.sec-seven-quote-item p {
    margin-top: 3rem;
    color: black;
    font-size: 1.8rem;
}

.sec-seven-quote-item span {
    display: block;
    margin-top: 3rem;
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
}

.mySwiper4{
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: block !important;
}

.swiper-wrapper4{
    width: 40% !important;   
}

.pub-pdf{
    position: absolute;
    font-size: 2rem;
    color: var(--orange);
    /* bottom: 0; */
    right: 2rem;
    top: 26rem;
    display: flex;
    gap: 1rem;
}

.pub-heading{
    font-size: 4rem;
    text-align: center;
}

.swiper-pagination-bullet-active {
    background-color: var(--orange) !important;
}



/* SECTION EIGHT */

.section-eight {
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-eight-content1 {
    width: 100%;
}

.sec-eight-content1 h2 {
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
}

.sec-eight-info {
    margin-top: 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 75rem;
}

.sec-eight-content2 {
    margin-top: 10rem;
    display: flex;
    gap: 30rem;
    flex-wrap: wrap;
}

.sec-eight-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.sec-eight-nums {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    color: black;
    font-size: 10rem;
    font-weight: 700;
}

.sec-eight-content-item p {
    font-size: 2rem;
}

/* SECTION NINE */
.section-nine {
    position: relative;
    background: white;
    font-size: 1.4rem;
    color: #000;
    padding: 5rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    padding: 6rem 10rem;
}

.swiper-slide {
    text-align: center;
    font-size: 1.8rem;
    display: flex !important;
    justify-content: center;
}

.swiper-slide img {
    display: block;
}

.section-nine h2 {
    color: var(--orange);
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--orange) !important;
}

/* FOOTER */

footer {
    display: flex;
    padding: 6rem 4rem;
    background-image: url(./assets/pic10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70rem;
    position: relative;
    gap: 4rem;

}

footer:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
}

.footer-content1 {
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content1 h2 {
    font-size: 6rem;
    font-weight: 700;
}

.footer-item {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-item span {
    font-size: 3rem;
}

.footer-text {
    margin-top: 1rem;
    font-size: 1.8rem;
}

.footer-content2 {
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-email-name {
    display: flex;
    gap: 2rem;
}

.footer-email,
.footer-name,
.footer-adress {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.footer-email label,
.footer-name label,
.footer-adress label,
.footer-massage label {
    font-size: 1.8rem;
}

.footer-email input,
.footer-name input {
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: var(--black);
}

.footer-adress {
    margin-top: 2rem;
}

.footer-adress input {
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: var(--black);
}

input:focus,
textarea:focus {
    outline: 2px solid var(--orange);
}

input::placeholder,
textarea::placeholder {
    font-size: 1.2rem;
}

.footer-massage {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-massage textarea {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    color: var(--black);
}

.footer-btn {
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
    background-color: var(--orange);
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
}

/* COPYRIGHT */

.copyright {
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
}

.copyright p {
    margin-top: 3rem;
    font-size: 1.4rem;
}






/* -----MEDIA--- */
@media screen and (max-width: 650px) {

    main {
        height: auto;
    }

    .main-info {
        width: 100%;
    }

    .section-five {
        height: auto;
    }

    .section-seven {
        flex-wrap: wrap;
    }

    .sec-seven-quote-item {
        width: 30rem;
        height: 35rem;
    }

    .logo {
        width: 10rem;
        height: 5rem;
    }

    .sec-eight-content2 {
        justify-content: center;
        gap: 10rem;
    }

    footer {
        flex-wrap: wrap;
        height: auto;
    }

    .footer-content1,
    .footer-content2 {
        width: 100%;
    }

    .footer-content2 {
        margin-top: 4rem;
    }

    .footer-email input,
    .footer-name input {
        width: 10rem;
    }

    input::placeholder {
        font-size: 0.8rem;
    }

    #btn-back-to-top {
        font-size: 0;
        color: var(--orange)
    }

    .sec-two-content div {
        margin-top: 1rem;
    }

    .sec-four-content1,
    .sec-four-content2,
    .sec-three-cards1,
    .sec-three-cards2 {
        justify-content: center;
    }

    .nav_items {
        font-size: 1.5rem;
    }

    .nav {
        gap: 1rem;
    }

    header {
        gap: 2rem;
    }

    .sec-one-card-items {
        width: auto;
    }

    .section-five {
        padding: 6rem 6rem;
    }

    .main-info {
        margin-top: 25rem;
    }

    .sec-three-card-items p {
        width: auto;
    }

    .sec-three-cards1,
    .sec-three-cards2 {
        margin-left: 0;
    }

    .section-two {
        padding: 6rem 6rem;
    }

    .section-seven {
        padding: 6rem 4rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: transparent !important;
    }
}

@media screen and (max-width: 1200px) {

    .nav_items {
        font-size: 1.5rem;
        width: 8.7rem;
    }
}

@media screen and (max-width: 1075px) {

    .nav_items {
        font-size: 1rem;
        width: 6.7rem;
    }

    .section-five {
        padding: 6rem 4rem;
    }

    header {
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    #menuBtn {
        display: block;
    }

    .section-nine {
        padding: 5rem;
    }

    .accordion-button {
        padding-left: 5%;
    }

    .accordion-body {
        padding: 4rem 4rem;
    }

    .accordion-button {
        font-size: 1.8rem;
    }

    .gallery-video video {
        max-width: 26rem;
        height: 26rem;        
        border-radius: 2rem;
        object-fit: fill;
    }
}